@model JobsWebApp.ViewModels.Admin.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h2>
    Status
    <span class="badge badge-@(Model.VacancyBase.Published ? "success" : "secondary")">@(Model.VacancyBase.Published ? "Published" : "Draft")</span>
</h2>

<form action="/admin/publish/@Model.VacancyBase.Id" method="post">
    @if (Model.VacancyBase.Published)
    {
        <h2>Disable Vacancy?</h2>
        <p>Hide this vacancy from the listing page.</p>
        <button type="submit" class="btn btn-secondary">Disable vacancy</button>

        <input type="hidden" name="published" value="false">
    }
    else
    {
        <h2>Publish Vacancy?</h2>
        <p>This vacancy will be visible only during the start and end date.</p>
        <button type="submit" class="btn btn-primary">Publish now</button>

        <input type="hidden" name="published" value="true">
    }

</form>

<h2>Details</h2>

<dl class="row">
    <dt class="col-sm-12 col-md-3">Job title</dt>
    <dd class="col-sm-12 col-md-9">@Model.VacancyBase.JobTitle</dd>

    <dt class="col-sm-12 col-md-3">Salary range</dt>
    <dd class="col-sm-12 col-md-9">£@Model.VacancyBase.SalaryMin - £@Model.VacancyBase.SalaryMax</dd>

    <dt class="col-sm-12 col-md-3">Department</dt>
    <dd class="col-sm-12 col-md-9">@Model.DepartmentBase.DepartmentName</dd>

    <dt class="col-sm-12 col-md-3">Contract type</dt>
    <dd class="col-sm-12 col-md-9">@Model.VacancyBase.ContractType</dd>

    <dt class="col-sm-12 col-md-3">Published</dt>
    <dd class="col-sm-12 col-md-9">@Model.VacancyBase.Published</dd>

    @{
        var startDate = (DateTime) Model.VacancyBase.StartDate;
        var formattedStartDate = startDate.ToString("dddd dd MMMM yyyy");

        var endDate = (DateTime) Model.VacancyBase.EndDate;
        var formattedEndDate = endDate.ToString("dddd dd MMMM yyyy");
    }

    <dt class="col-sm-12 col-md-3">Start date</dt>
    <dd class="col-sm-12 col-md-9">@formattedStartDate</dd>

    <dt class="col-sm-12 col-md-3">End date</dt>
    <dd class="col-sm-12 col-md-9">@formattedEndDate</dd>
</dl>

<h3>Job Description</h3>
<div>
    @Html.Raw(Model.VacancyBase.JobDescription);
</div>

<h2>Applications</h2>

<p><strong>Total</strong>: @Model.NumberOfApplications</p>

<a class="btn btn-primary" href="/admin/applications/@Model.VacancyBase.Id">View Applications</a>