@model JobsWebApp.ViewModels.Admin.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h2>
    Status
    <span class="badge badge-@(Model.Vacancy.Published ? "success" : "secondary")">@(Model.Vacancy.Published ? "Published" : "Draft")</span>
</h2>

<form action="/admin/publish/@Model.Vacancy.Id" method="post">
    @if (Model.Vacancy.Published)
    {
        <h2>Disable Vacancy?</h2>
        <p>Hide this vacancy from the listing page.</p>
        <button type="submit" class="btn btn-secondary">Disable vacancy</button>

        <input type="hidden" name="published" value="false">
    }
    else
    {
        <h2>Publish Vacancy?</h2>
        <p>This vacancy will be visible only during the start and end date.</p>
        <button type="submit" class="btn btn-primary">Publish now</button>

        <input type="hidden" name="published" value="true">
    }

</form>

<h2>Details</h2>

<dl class="row">
    <dt class="col-sm-12 col-md-3">Job title</dt>
    <dd class="col-sm-12 col-md-9">@Model.Vacancy.JobTitle</dd>

    <dt class="col-sm-12 col-md-3">Description</dt>
    <dd class="col-sm-12 col-md-9">@Model.Vacancy.JobDescription</dd>

    <dt class="col-sm-12 col-md-3">Salary range</dt>
    <dd class="col-sm-12 col-md-9">£@Model.Vacancy.SalaryMin - £@Model.Vacancy.SalaryMax</dd>

    <dt class="col-sm-12 col-md-3">Department</dt>
    <dd class="col-sm-12 col-md-9">@Model.Department.DepartmentName</dd>

    <dt class="col-sm-12 col-md-3">Contract type</dt>
    <dd class="col-sm-12 col-md-9">@Model.Vacancy.ContractType</dd>

    <dt class="col-sm-12 col-md-3">Published</dt>
    <dd class="col-sm-12 col-md-9">@Model.Vacancy.Published</dd>

    @{
        DateTime startDate = (DateTime)Model.Vacancy.StartDate;
        var formattedStartDate = startDate.ToString("dddd dd MMMM yyyy");

        DateTime endDate = (DateTime)Model.Vacancy.EndDate;
        var formattedEndDate = endDate.ToString("dddd dd MMMM yyyy");
    }

    <dt class="col-sm-12 col-md-3">Start date</dt>
    <dd class="col-sm-12 col-md-9">@formattedStartDate</dd>

    <dt class="col-sm-12 col-md-3">End date</dt>
    <dd class="col-sm-12 col-md-9">@formattedEndDate</dd>
</dl>

<h2>Applications</h2>

<p><strong>Total</strong>: @Model.NumberOfApplications</p>

<a class="btn btn-primary" href="/admin/applications/@Model.Vacancy.Id">View Applications</a>
